

.spacer{
  padding-top: 3500px;
}

.box{
  background-color: silver;
  border-radius: 25px;
  padding: 20px;

}

h1{
  font-size: 4em;
}


/*img{
    width:100%;
    max-width:auto !important;
}*/

img {
  padding: 30px;
}
